<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="mojaFunkcija()">

        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
             <span
             *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
             class="help-block"> Molim unesite ispravni username</span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
          </div>
          <span
          *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
          class="help-block"> Molim unesite ispravni e-mail</span>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>

        <div formArrayName="hobi">
            <h4>Tvoj hobi</h4>
            <button
            class="btn btn-primary"
            type="button"
            (click)="onAddHobby()">Dodaj Hobi</button>
            <div class="form-group"
            *ngFor="let hobiControl of getControls(); let i = index">
              <input type="text" class="form-control" [formControlName]="i">
            </div>
        </div>

        <span
        *ngIf="!signupForm.valid && signupForm.touched"
        class="help-block">Forma nije ispravno popunjena</span>

        <button class="btn btn-primary" 
              type="submit"
              [disabled]="!signupForm.valid"
              >Potvrdi</button>
      </form>
    </div>
  </div>
</div>

<p>{{spol}}</p>
<p>{{userdataemail}}</p>
<p>{{userdataname}}</p>
<hr>

<!-- Zadatak *****************------------ -->
<!-- Zadatak --------------------- -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="zadatakForma" (ngSubmit)="onSaveProject()">
        <h4> --- Zadatak ------</h4>
        <div class="form-group">
                <label for="name">Project name</label>
                <input
                type="text"
                id="name"
                formControlName="projectName"
                class="form-control">
        </div>
        <div class="form-group">
                <label for="emailMoj">Email</label>
                <input
                type="email"
                id="emailMoj"
                formControlName="emailMoj"
                class="form-control">
        </div>

        <div class="form-group">
          <label for="status">Project status</label>
          <select
          name="status"
          formControlName="projectStatus"
          class="form-control"
          >
            <option value="stable">Stable</option>
            <option value="critical">Critical</option>
            <option value="finished">Finished</option>
          </select>
          <button 
          class="btn btn-primary" 
          type="submit"
          [disabled]="!zadatakForma.valid">Kreiraj Project</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <p>{{name}}</p>
  <p>{{email}}</p>
  <p>{{projekt}}</p>

</div>